<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewLinkage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0002EC31F68BF7D0026DB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0002EDC1F68BF7D0026DB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0002EE71F68BF7E0026DB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
